<ion-header>
  <app-header [siteTitle]="title"></app-header>
</ion-header>

<ion-content [fullscreen]="true" forceOverscroll="false">

  <!-- shown for all users that are logged in-->
  <ng-container *ngIf="authService.user$ | async as user">
    <!-- shown for all users that has at leas one role -->
    <ng-container *ngIf="user.roles.length > 0">

      <ng-container *ngIf="segmentModel === 'adm-main'">
        <adm-main [transferModel]="transferModel" (titleEvent)="changeTitleEvent($event)" (segmentEvent)="changeSegmentEvent($event)"></adm-main>
      </ng-container>
      <!-- shown for admin users -->
      <ng-container
        *ngIf="user.roles.indexOf('admin') > -1 || user.roles.indexOf('authWriter') > -1 || user.roles.indexOf('authRead') > -1">
        <ng-container *ngIf="segmentModel === 'adm-users'">
          <adm-users [transferModel]="transferModel" (titleEvent)="changeTitleEvent($event)" (segmentEvent)="changeSegmentEvent($event)"></adm-users>
        </ng-container>
        <ng-container *ngIf="segmentModel === 'adm-groups'">
          <adm-groups [transferModel]="transferModel" (titleEvent)="changeTitleEvent($event)" (segmentEvent)="changeSegmentEvent($event)"></adm-groups>
        </ng-container>
        <ng-container *ngIf="segmentModel === 'adm-blacklist'">
          <adm-blacklist [transferModel]="transferModel" (titleEvent)="changeTitleEvent($event)" (segmentEvent)="changeSegmentEvent($event)"></adm-blacklist>
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>

</ion-content>

<ion-footer>
  <!-- shown for all users that are logged in-->
  <ng-container *ngIf="authService.user$ | async as user">
    <!-- shown for all users that has at leas one role -->
    <ng-container *ngIf="user.roles.length > 0">
      <ion-toolbar>
        <ion-button class="buttons" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
        <ion-segment [value]="segmentModel" scrollable="true" (ionChange)="segmentChanged($event)">

          <ion-segment-button class="buttons" value="adm-main">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-segment-button>

          <ng-container
            *ngIf="user.roles.indexOf('admin') > -1 || user.roles.indexOf('authWriter') > -1 || user.roles.indexOf('authRead') > -1">

            <ion-segment-button class="buttons" value="adm-users">
              <ion-label>Set Roles</ion-label>
            </ion-segment-button>

            <ion-segment-button class="buttons" value="adm-groups">
              <ion-label>Groups</ion-label>
            </ion-segment-button>

            <ion-segment-button class="buttons" value="adm-blacklist">
              <ion-label>Blacklist</ion-label>
            </ion-segment-button>

          </ng-container>
        </ion-segment>
      </ion-toolbar>
    </ng-container>
  </ng-container>
</ion-footer>