ion-toolbar {
    --background: #d32f2f;
    // --color: #ffffff;
}

.buttons {
    // margin:16px;
    margin: 2px;
    min-height: 50px;
    --background: #9a0007;
    --color:#ffffff;
}

ion-content {
    --background: #a4a4a4;
  }