.remove_container{
    background:#a4a4a4;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    color: #9a0007;
    border-width: 2px;
    border-style: dashed;
    border-color: #9a0007;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container{
    background:#a4a4a4;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    color: #9a0007;
    border-width: 2px;
    border-style: dashed;
    border-color: #9a0007;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container_bl{
    background:black;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    color: #d32f2f;
    border-width: 2px;
    border-style: dashed;
    border-color: #d32f2f;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.own_item {
    margin-top: 10px;
    --border-radius: 15px;
    --background: #d32f2f;
    --color: white;
}

.contained_item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    --border-radius: 15px;
}

.selected {
    --background: #9a0007;
    --color: white;
}

.all {
    --background: #494949;
    --color: white;
}

.addButton {
    --color: white;
    --border-color: #9a0007;
    --background: #9a0007;
}

.textInputContainer {
    background: white;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 15px;
}

.textInput {
    --color: #9a0007;
}


ion-toggle {
    --background-checked: #a4a4a4;
    --handle-background-checked: #9a0007;

    --background: #a4a4a4;
    --handle-background: white;
}

ion-segment {
    --background: #d32f2f;
}

.delete_btn {
    // --color: white;
    --color: #d32f2f;
}