<ion-grid>

    <ion-row class="align-items-center no-padding">
        <ion-col size="12">
            <ion-item class="own_item" lines="none">
                <ion-label position="fixed">New Group:</ion-label>
                <div class="textInputContainer">
                    <ion-input placeholder="enter new Group" class="textInput" [(ngModel)]="newGroup">
                    </ion-input>
                </div>
                <ion-button class="addButton" expand="block" fill="outline" (click)="addGroup()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row class="no-padding">
        <ion-col size="12" class="no-padding" style="padding-top:1rem;">
            <ion-list id="allGroups" class="container">
                All Groups
                <ion-item *ngFor="let item of allGroups" class="contained_item all" expand="block" text-wrap
                    lines="none">
                    {{ item }}
                    <ion-button class="ion-no-padding ion-no-margin delete_btn" fill="none" slot="end"
                        (click)="authService.deleteAuthGroup(item)">
                        <ion-icon style="font-size:12px;" name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

</ion-grid>