<ion-grid>
  <ion-row class="align-items-center no-padding">

    <ion-col size="12" class="no-padding">
      <ion-item class="transparent_item" lines="none" *ngIf="selectedUser">
        <ion-avatar slot="start">
          <img
            src="{{(userService.getProfile(selectedUser.id).photoURL) ? userService.getProfile(selectedUser.id).photoURL : '/assets/dummy-user.png'}}"
            alt="{{userService.getProfile(selectedUser.id).displayName}}">
        </ion-avatar>
        <ion-label>{{userService.getProfile(selectedUser.id).displayName}}</ion-label>
      </ion-item>
      <ion-item class="own_item" lines="none">
        <ion-label>Select User:</ion-label>
        <ion-select id="userSelect" [(ngModel)]="selectedUser" (ionChange)="userChanged($event)"
          [compareWith]="compareById">
          <ng-container *ngIf="authService.adm_allUsers$ | async as allUsers">
            <ion-select-option *ngFor="let userF of allUsers" [value]="userF">
              {{userService.getProfile(userF.id).displayName}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <ion-item class="own_item" lines="none" *ngIf="selectedUser">
        <ion-label>Blacklisted:</ion-label>
        <ion-toggle [checked]="(authService.adm_Blacklist$ | async)?.includes(selectedUser.id)"
          (ionChange)="blacklistChanged($event)"></ion-toggle>
      </ion-item>
    </ion-col>

  </ion-row>

  <ng-container *ngIf="selectedUser && !(authService.adm_Blacklist$ | async)?.includes(selectedUser.id)">
    <ion-segment [value]="segmentModel" style="margin-top:1rem;" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="roles">
        <ion-label>Roles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups">
        <ion-label>Groups</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ng-container *ngIf="segmentModel === 'roles'">
      <ion-row class="no-padding">

        <ion-col size="6" class="no-padding" style="padding-top:1rem;">
          <ion-list id="selectedRoles" [(dragulaModel)]="selectedRoles" class="container" dragula="user_bag"
            lines="none">
            Selected Roles
            <ion-item *ngFor="let item of selectedRoles" class="contained_item selected" lines="none">
              {{ item }}
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="6" class="no-padding" style="padding-top:1rem;">
          <ion-list id="allRoles" [(dragulaModel)]="allRoles" class="container" dragula="user_bag" lines="none">
            All Roles
            <ion-item *ngFor="let item of allRoles" class="contained_item all" lines="none">
              {{ item }}
            </ion-item>
          </ion-list>
        </ion-col>

      </ion-row>
    </ng-container>

    <ng-container *ngIf="segmentModel === 'groups'">
      <ion-row class="no-padding"
        *ngIf="selectedUser && !(authService.adm_Blacklist$ | async)?.includes(selectedUser.id)">
        <ion-col size="6" class="no-padding" style="padding-top:1rem;">
          <ion-list id="selectedGroups" [(dragulaModel)]="selectedGroups" class="container" dragula="groups_bag">
            User Owned Groups
            <ion-item *ngFor="let item of selectedGroups" class="contained_item selected" expand="block" text-wrap
              lines="none">
              {{ item }}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6" class="no-padding" style="padding-top:1rem;">
          <ion-list id="allGroups" [(dragulaModel)]="allGroups" class="container" dragula="groups_bag">
            Not user Owned Groups
            <ion-item *ngFor="let item of allGroups" class="contained_item all" style="--padding-end:0" expand="block"
              text-wrap lines="none">
              {{ item }}
              <ion-button class="ion-no-padding ion-no-margin delete_btn" fill="none" slot="end"
                (click)="authService.deleteAuthGroup(item)">
                <ion-icon style="font-size:12px;" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>
</ion-grid>